name: Node.js CI

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  nodejs:
    uses: zakodium/workflows/.github/workflows/nodejs.yml@nodejs-v1
    with:
      node-version: '24.x'
      node-version-matrix: '[24]'
      disable-test-package: true
      upload-coverage: false
  babel:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version-file: package.json
      - name: Install dependencies
        run: npm ci
      - name: Run babel on all files
        run: npm run babel
