name: Node.js CI

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  nodejs:
    uses: zakodium/workflows/.github/workflows/nodejs.yml@nodejs-v1
    with:
      node-version: '24.x'
      node-version-matrix: '[24]'
      disable-test-package: true
      upload-coverage: false
